<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/17dd0bfb7268aff2770d6a72/w/a1b7f6d82147a790c6751a93/e/7e9b766432fb5da199998094 -->
<robot name="sme-4wcl">
  <!-- Link base_footprint -->
  <link name="base_footprint">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.00509203 1.6421e-07 0.0155724" rpy="0 0 0"/>
      <mass value="2.55607"/>
      <inertia ixx="0.0071835" ixy="-7.78333e-06" ixz="0.000108568" iyy="0.0169699" iyz="-6.67e-10" izz="0.0229415"/>
    </inertial>
    <!-- Part hex_spacer_ff_m3_l50mm_v1 -->
    <visual>
      <origin xyz="-0.318 0.0680002 -0.053" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/hex_spacer_ff_m3_l50mm_v1.stl"/>
      </geometry>
      <material name="hex_spacer_ff_m3_l50mm_v1_material">
        <color rgba="0.196078 0.196078 0.196078 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.318 0.0680002 -0.053" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/hex_spacer_ff_m3_l50mm_v1.stl"/>
      </geometry>
    </collision>
    <!-- Part base_plate_v2 -->
    <visual>
      <origin xyz="0.00115151 9.8738e-08 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base_plate_v2.stl"/>
      </geometry>
      <material name="base_plate_v2_material">
        <color rgba="0.141176 0.141176 0.141176 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00115151 9.8738e-08 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base_plate_v2.stl"/>
      </geometry>
    </collision>
    <!-- Part hex_spacer_ff_m3_l50mm_v1_2 -->
    <visual>
      <origin xyz="-0.0884999 -0.0439998 -0.053" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/hex_spacer_ff_m3_l50mm_v1.stl"/>
      </geometry>
      <material name="hex_spacer_ff_m3_l50mm_v1_2_material">
        <color rgba="0.196078 0.196078 0.196078 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0884999 -0.0439998 -0.053" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/hex_spacer_ff_m3_l50mm_v1.stl"/>
      </geometry>
    </collision>
    <!-- Part hex_spacer_ff_m3_l50mm_v1_3 -->
    <visual>
      <origin xyz="-0.318 -0.0679998 -0.053" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/hex_spacer_ff_m3_l50mm_v1.stl"/>
      </geometry>
      <material name="hex_spacer_ff_m3_l50mm_v1_3_material">
        <color rgba="0.196078 0.196078 0.196078 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.318 -0.0679998 -0.053" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/hex_spacer_ff_m3_l50mm_v1.stl"/>
      </geometry>
    </collision>
    <!-- Part hex_spacer_ff_m3_l50mm_v1_4 -->
    <visual>
      <origin xyz="-0.0884999 0.0440002 -0.053" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/hex_spacer_ff_m3_l50mm_v1.stl"/>
      </geometry>
      <material name="hex_spacer_ff_m3_l50mm_v1_4_material">
        <color rgba="0.196078 0.196078 0.196078 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0884999 0.0440002 -0.053" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/hex_spacer_ff_m3_l50mm_v1.stl"/>
      </geometry>
    </collision>
    <!-- Part hexagonalmotoradapter_v1 -->
    <visual>
      <origin xyz="-0.0899458 -0.0945214 0.0175757" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/hexagonalmotoradapter_v1.stl"/>
      </geometry>
      <material name="hexagonalmotoradapter_v1_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0899458 -0.0945214 0.0175757" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/hexagonalmotoradapter_v1.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_bracket_l_v4 -->
    <visual>
      <origin xyz="-0.0899999 -0.0729998 0.025" rpy="-1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/motor_bracket_l_v4.stl"/>
      </geometry>
      <material name="motor_bracket_l_v4_material">
        <color rgba="0.101961 0.101961 0.101961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0899999 -0.0729998 0.025" rpy="-1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/motor_bracket_l_v4.stl"/>
      </geometry>
    </collision>
    <!-- Part dcmotor_12v_v2 -->
    <visual>
      <origin xyz="-0.0901041 -0.0456716 0.0260675" rpy="-1.5708 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/dcmotor_12v_v2.stl"/>
      </geometry>
      <material name="dcmotor_12v_v2_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0901041 -0.0456716 0.0260675" rpy="-1.5708 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/dcmotor_12v_v2.stl"/>
      </geometry>
    </collision>
    <!-- Part hexagonalmotoradapter_v1_2 -->
    <visual>
      <origin xyz="-0.090054 0.0945217 0.0175757" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/hexagonalmotoradapter_v1.stl"/>
      </geometry>
      <material name="hexagonalmotoradapter_v1_2_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.090054 0.0945217 0.0175757" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/hexagonalmotoradapter_v1.stl"/>
      </geometry>
    </collision>
    <!-- Part dcmotor_12v_v2_2 -->
    <visual>
      <origin xyz="-0.0898957 0.0456719 0.0260675" rpy="-1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/dcmotor_12v_v2.stl"/>
      </geometry>
      <material name="dcmotor_12v_v2_2_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0898957 0.0456719 0.0260675" rpy="-1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/dcmotor_12v_v2.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_bracket_l_v4_2 -->
    <visual>
      <origin xyz="-0.0899999 0.0730002 0.025" rpy="-1.5708 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/motor_bracket_l_v4.stl"/>
      </geometry>
      <material name="motor_bracket_l_v4_2_material">
        <color rgba="0.101961 0.101961 0.101961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0899999 0.0730002 0.025" rpy="-1.5708 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/motor_bracket_l_v4.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_bracket_l_v4_3 -->
    <visual>
      <origin xyz="0.0750001 -0.0729998 0.025" rpy="-1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/motor_bracket_l_v4.stl"/>
      </geometry>
      <material name="motor_bracket_l_v4_3_material">
        <color rgba="0.101961 0.101961 0.101961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0750001 -0.0729998 0.025" rpy="-1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/motor_bracket_l_v4.stl"/>
      </geometry>
    </collision>
    <!-- Part dcmotor_12v_v2_3 -->
    <visual>
      <origin xyz="0.0748959 -0.0456716 0.0260675" rpy="-1.5708 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/dcmotor_12v_v2.stl"/>
      </geometry>
      <material name="dcmotor_12v_v2_3_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0748959 -0.0456716 0.0260675" rpy="-1.5708 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/dcmotor_12v_v2.stl"/>
      </geometry>
    </collision>
    <!-- Part hexagonalmotoradapter_v1_3 -->
    <visual>
      <origin xyz="0.0750542 -0.0945214 0.0175757" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/hexagonalmotoradapter_v1.stl"/>
      </geometry>
      <material name="hexagonalmotoradapter_v1_3_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0750542 -0.0945214 0.0175757" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/hexagonalmotoradapter_v1.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_bracket_l_v4_4 -->
    <visual>
      <origin xyz="0.0750001 0.0730002 0.025" rpy="-1.5708 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/motor_bracket_l_v4.stl"/>
      </geometry>
      <material name="motor_bracket_l_v4_4_material">
        <color rgba="0.101961 0.101961 0.101961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0750001 0.0730002 0.025" rpy="-1.5708 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/motor_bracket_l_v4.stl"/>
      </geometry>
    </collision>
    <!-- Part dcmotor_12v_v2_4 -->
    <visual>
      <origin xyz="0.0751043 0.0456719 0.0260675" rpy="-1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/dcmotor_12v_v2.stl"/>
      </geometry>
      <material name="dcmotor_12v_v2_4_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0751043 0.0456719 0.0260675" rpy="-1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/dcmotor_12v_v2.stl"/>
      </geometry>
    </collision>
    <!-- Part hexagonalmotoradapter_v1_4 -->
    <visual>
      <origin xyz="0.074946 0.0945217 0.0175757" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/hexagonalmotoradapter_v1.stl"/>
      </geometry>
      <material name="hexagonalmotoradapter_v1_4_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.074946 0.0945217 0.0175757" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/hexagonalmotoradapter_v1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link base_top -->
  <link name="base_top">
    <inertial>
      <origin xyz="2.12102e-07 1.29432e-07 -0.0015" rpy="0 0 0"/>
      <mass value="0.803036"/>
      <inertia ixx="0.00143955" ixy="7.175e-09" ixz="-2e-12" iyy="0.00407227" iyz="2.5e-11" izz="0.00551062"/>
    </inertial>
    <!-- Part base_plate_top_v2 -->
    <visual>
      <origin xyz="0.00115151 9.8738e-08 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base_plate_top_v2.stl"/>
      </geometry>
      <material name="base_plate_top_v2_material">
        <color rgba="0.141176 0.141176 0.141176 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00115151 9.8738e-08 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base_plate_top_v2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link lidar_1 -->
  <link name="lidar_1">
    <inertial>
      <origin xyz="8.21805e-05 -4.08005e-05 0.0116504" rpy="0 0 0"/>
      <mass value="0.0138375"/>
      <inertia ixx="3.38775e-06" ixy="-1.1277e-08" ixz="-7.094e-09" iyy="3.44947e-06" iyz="8.474e-09" izz="4.32209e-06"/>
    </inertial>
    <!-- Part pa2x6_4 -->
    <visual>
      <origin xyz="0.0141626 -0.0139635 0.0025658" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/pa2x6_4.stl"/>
      </geometry>
      <material name="pa2x6_4_material">
        <color rgba="0.117647 0.105882 0.211765 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0141626 -0.0139635 0.0025658" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/pa2x6_4.stl"/>
      </geometry>
    </collision>
    <!-- Part pa2x6_3 -->
    <visual>
      <origin xyz="-0.014 0.014 0.00269365" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/pa2x6_3.stl"/>
      </geometry>
      <material name="pa2x6_3_material">
        <color rgba="0.117647 0.105882 0.211765 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.014 0.014 0.00269365" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/pa2x6_3.stl"/>
      </geometry>
    </collision>
    <!-- Part ld19_up -->
    <visual>
      <origin xyz="0 0 0.000193654" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/ld19_up.stl"/>
      </geometry>
      <material name="ld19_up_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.000193654" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/ld19_up.stl"/>
      </geometry>
    </collision>
    <!-- Part ld19_bottom -->
    <visual>
      <origin xyz="0 0 0.0121937" rpy="3.14159 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets/ld19_bottom.stl"/>
      </geometry>
      <material name="ld19_bottom_material">
        <color rgba="0.552941 0.552941 0.552941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0121937" rpy="3.14159 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets/ld19_bottom.stl"/>
      </geometry>
    </collision>
    <!-- Part pa2x6_1 -->
    <visual>
      <origin xyz="0.014 0.014 0.00769365" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/pa2x6_1.stl"/>
      </geometry>
      <material name="pa2x6_1_material">
        <color rgba="0.117647 0.105882 0.211765 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.014 0.014 0.00769365" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/pa2x6_1.stl"/>
      </geometry>
    </collision>
    <!-- Part ld19_pcb -->
    <visual>
      <origin xyz="0 0 0.0121937" rpy="3.14159 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets/ld19_pcb.stl"/>
      </geometry>
      <material name="ld19_pcb_material">
        <color rgba="0.235294 0.8 0.172549 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0121937" rpy="3.14159 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets/ld19_pcb.stl"/>
      </geometry>
    </collision>
    <!-- Part pa2x6_2 -->
    <visual>
      <origin xyz="-0.014 -0.014 0.00769365" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/pa2x6_2.stl"/>
      </geometry>
      <material name="pa2x6_2_material">
        <color rgba="0.117647 0.105882 0.211765 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.014 -0.014 0.00769365" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/pa2x6_2.stl"/>
      </geometry>
    </collision>
    <!-- Part ld19_middle -->
    <visual>
      <origin xyz="0 0 0.0121937" rpy="3.14159 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets/ld19_middle.stl"/>
      </geometry>
      <material name="ld19_middle_material">
        <color rgba="0.552941 0.552941 0.552941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0121937" rpy="3.14159 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets/ld19_middle.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_top to lidar_1 -->
  <joint name="base_top_to_lidar_1" type="fixed">
    <origin xyz="0.091 0 0.072" rpy="3.14159 0 -1.5708"/>
    <parent link="base_top"/>
    <child link="lidar_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link camera_1 -->
  <link name="camera_1">
    <inertial>
      <origin xyz="0.000225802 0.0130641 -0.0293086" rpy="0 0 0"/>
      <mass value="0.237529"/>
      <inertia ixx="8.53095e-05" ixy="-9.129e-09" ixz="9.3603e-08" iyy="0.000456695" iyz="1.31171e-05" izz="0.00045922"/>
    </inertial>
    <!-- Part astra -->
    <visual>
      <origin xyz="0.00025 -0.00417224 -0.0339699" rpy="-0.022408 -0 0"/>
      <geometry>
        <mesh filename="package://assets/astra.stl"/>
      </geometry>
      <material name="astra_material">
        <color rgba="0.74902 0.74902 0.74902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00025 -0.00417224 -0.0339699" rpy="-0.022408 -0 0"/>
      <geometry>
        <mesh filename="package://assets/astra.stl"/>
      </geometry>
    </collision>
    <!-- Part astra_clip2 -->
    <visual>
      <origin xyz="-0 -0.000432857 -0.014" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/astra_clip2.stl"/>
      </geometry>
      <material name="astra_clip2_material">
        <color rgba="0.74902 0.74902 0.74902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -0.000432857 -0.014" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/astra_clip2.stl"/>
      </geometry>
    </collision>
    <!-- Part astra_clip1 -->
    <visual>
      <origin xyz="0.00025 0.00156719 -0.000652516" rpy="-1.57078 0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/astra_clip1.stl"/>
      </geometry>
      <material name="astra_clip1_material">
        <color rgba="0.74902 0.74902 0.74902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00025 0.00156719 -0.000652516" rpy="-1.57078 0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/astra_clip1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_top to camera_1 -->
  <joint name="base_top_to_camera_1" type="fixed">
    <origin xyz="0.08 0 -0" rpy="3.14159 -0 1.5708"/>
    <parent link="base_top"/>
    <child link="camera_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from base_link to base_top -->
  <joint name="base_link_to_base_top" type="fixed">
    <origin xyz="1.01319e-07 1.80614e-07 -0.053" rpy="3.14159 -0 0"/>
    <parent link="base_link"/>
    <child link="base_top"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link jetson_nano -->
  <link name="jetson_nano">
    <inertial>
      <origin xyz="-0.00129439 -0.00247621 -0.0121146" rpy="0 0 0"/>
      <mass value="0.557665"/>
      <inertia ixx="0.000338439" ixy="-8.96046e-07" ixz="-2.56911e-06" iyy="0.000336902" iyz="-4.06408e-05" izz="0.000568739"/>
    </inertial>
    <!-- Part jetson_nano_v1 -->
    <visual>
      <origin xyz="-0.00367111 0.00745596 0.0086" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/jetson_nano_v1.stl"/>
      </geometry>
      <material name="jetson_nano_v1_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00367111 0.00745596 0.0086" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/jetson_nano_v1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to jetson_nano -->
  <joint name="base_link_to_jetson_nano" type="fixed">
    <origin xyz="-0.0438485 -0.0209999 -0.003" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="jetson_nano"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link wheel_1 -->
  <link name="wheel_1">
    <inertial>
      <origin xyz="7.56968e-06 -7.26734e-06 0.00823709" rpy="0 0 0"/>
      <mass value="0.614542"/>
      <inertia ixx="0.000237399" ixy="-2.3521e-08" ixz="1.32633e-07" iyy="0.00023691" iyz="1.47008e-07" izz="0.000273526"/>
    </inertial>
    <!-- Part part2 -->
    <visual>
      <origin xyz="-0 0 0.026" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part2.stl"/>
      </geometry>
      <material name="part2_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 0.026" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part2.stl"/>
      </geometry>
    </collision>
    <!-- Part part4 -->
    <visual>
      <origin xyz="-0.032376 0.0106802 -0.00658304" rpy="-2.07059 -0.785398 -1.4399"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.032376 0.0106802 -0.00658304" rpy="-2.07059 -0.785398 -1.4399"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_2 -->
    <visual>
      <origin xyz="0.00677035 -0.0335077 -0.00679517" rpy="-0.559917 -0.785398 0.654498"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_2_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00677035 -0.0335077 -0.00679517" rpy="-0.559917 -0.785398 0.654498"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_3 -->
    <visual>
      <origin xyz="0.0267707 -0.0211094 -0.00658304" rpy="2.07059 -0.785398 1.35263"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_3_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0267707 -0.0211094 -0.00658304" rpy="2.07059 -0.785398 1.35263"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part1 -->
    <visual>
      <origin xyz="0 -0 -0.0125365" rpy="0 0 2.39983"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
      <material name="part1_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0 -0.0125365" rpy="0 0 2.39983"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
    </collision>
    <!-- Part part1_2 -->
    <visual>
      <origin xyz="-0 -0 0.029" rpy="3.14159 -0 -0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
      <material name="part1_2_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -0 0.029" rpy="3.14159 -0 -0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_4 -->
    <visual>
      <origin xyz="-0.0309354 -0.0132994 -0.00559127" rpy="-2.63779 -0.785398 -0.741765"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_4_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0309354 -0.0132994 -0.00559127" rpy="-2.63779 -0.785398 -0.741765"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_5 -->
    <visual>
      <origin xyz="0.0254374 0.0226983 -0.00658304" rpy="0.484751 -0.785398 2.74889"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_5_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0254374 0.0226983 -0.00658304" rpy="0.484751 -0.785398 2.74889"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_6 -->
    <visual>
      <origin xyz="-0.0179363 0.0289925 -0.00658304" rpy="-1.36944 -0.785398 -2.13803"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_6_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0179363 0.0289925 -0.00658304" rpy="-1.36944 -0.785398 -2.13803"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_7 -->
    <visual>
      <origin xyz="-0.01614 -0.0300296 -0.00658304" rpy="-1.09684 -0.785398 -0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_7_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.01614 -0.0300296 -0.00658304" rpy="-1.09684 -0.785398 -0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_8 -->
    <visual>
      <origin xyz="0.0340764 0.0010371 -0.00658304" rpy="-2.9102 -0.785398 2.05076"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_8_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0340764 0.0010371 -0.00658304" rpy="-2.9102 -0.785398 2.05076"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_9 -->
    <visual>
      <origin xyz="0.00509827 0.0338026 -0.00679517" rpy="-0.48876 -0.785398 -2.83616"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_9_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00509827 0.0338026 -0.00679517" rpy="-0.48876 -0.785398 -2.83616"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to wheel_1 -->
  <joint name="base_link_to_wheel_1" type="continuous">
    <origin xyz="0.0750542 -0.106021 0.0175757" rpy="1.5708 -1.5708 0"/>
    <parent link="base_link"/>
    <child link="wheel_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link wheel_4 -->
  <link name="wheel_4">
    <inertial>
      <origin xyz="7.56968e-06 7.26734e-06 -0.00823709" rpy="0 0 0"/>
      <mass value="0.614542"/>
      <inertia ixx="0.000237399" ixy="2.3521e-08" ixz="-1.32633e-07" iyy="0.00023691" iyz="1.47008e-07" izz="0.000273526"/>
    </inertial>
    <!-- Part part4_10 -->
    <visual>
      <origin xyz="-0.01614 0.0300296 0.00658304" rpy="2.04475 0.785398 0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_10_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.01614 0.0300296 0.00658304" rpy="2.04475 0.785398 0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_11 -->
    <visual>
      <origin xyz="0.00677035 0.0335077 0.00679517" rpy="2.58168 0.785398 -0.654498"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_11_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00677035 0.0335077 0.00679517" rpy="2.58168 0.785398 -0.654498"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_12 -->
    <visual>
      <origin xyz="0.00509827 -0.0338026 0.00679517" rpy="2.65283 0.785398 2.83616"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_12_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00509827 -0.0338026 0.00679517" rpy="2.65283 0.785398 2.83616"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_13 -->
    <visual>
      <origin xyz="-0.032376 -0.0106802 0.00658304" rpy="1.07101 0.785398 1.4399"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_13_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.032376 -0.0106802 0.00658304" rpy="1.07101 0.785398 1.4399"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part1_3 -->
    <visual>
      <origin xyz="0 0 0.0125365" rpy="-3.14159 -0 -2.39983"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
      <material name="part1_3_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0125365" rpy="-3.14159 -0 -2.39983"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_14 -->
    <visual>
      <origin xyz="-0.0309354 0.0132994 0.00559127" rpy="0.503798 0.785398 0.741765"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_14_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0309354 0.0132994 0.00559127" rpy="0.503798 0.785398 0.741765"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_15 -->
    <visual>
      <origin xyz="0.0340764 -0.0010371 0.00658304" rpy="0.231397 0.785398 -2.05076"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_15_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0340764 -0.0010371 0.00658304" rpy="0.231397 0.785398 -2.05076"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_16 -->
    <visual>
      <origin xyz="0.0254374 -0.0226983 0.00658304" rpy="-2.65684 0.785398 -2.74889"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_16_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0254374 -0.0226983 0.00658304" rpy="-2.65684 0.785398 -2.74889"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part2_2 -->
    <visual>
      <origin xyz="0 0 -0.026" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part2.stl"/>
      </geometry>
      <material name="part2_2_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.026" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part2.stl"/>
      </geometry>
    </collision>
    <!-- Part part1_4 -->
    <visual>
      <origin xyz="-0 0 -0.029" rpy="-0 -0 0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
      <material name="part1_4_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.029" rpy="-0 -0 0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_17 -->
    <visual>
      <origin xyz="0.0267707 0.0211094 0.00658304" rpy="-1.07101 0.785398 -1.35263"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_17_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0267707 0.0211094 0.00658304" rpy="-1.07101 0.785398 -1.35263"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_18 -->
    <visual>
      <origin xyz="-0.0179363 -0.0289925 0.00658304" rpy="1.77215 0.785398 2.13803"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_18_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0179363 -0.0289925 0.00658304" rpy="1.77215 0.785398 2.13803"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to wheel_4 -->
  <joint name="base_link_to_wheel_4" type="continuous">
    <origin xyz="-0.090054 0.106022 0.0175757" rpy="1.5708 0 0"/>
    <parent link="base_link"/>
    <child link="wheel_4"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link wheel_2 -->
  <link name="wheel_2">
    <inertial>
      <origin xyz="7.56968e-06 7.26734e-06 -0.00823709" rpy="0 0 0"/>
      <mass value="0.614542"/>
      <inertia ixx="0.000237399" ixy="2.3521e-08" ixz="-1.32633e-07" iyy="0.00023691" iyz="1.47008e-07" izz="0.000273526"/>
    </inertial>
    <!-- Part part4_19 -->
    <visual>
      <origin xyz="-0.01614 0.0300296 0.00658304" rpy="2.04475 0.785398 0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_19_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.01614 0.0300296 0.00658304" rpy="2.04475 0.785398 0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_20 -->
    <visual>
      <origin xyz="0.00509827 -0.0338026 0.00679517" rpy="2.65283 0.785398 2.83616"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_20_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00509827 -0.0338026 0.00679517" rpy="2.65283 0.785398 2.83616"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_21 -->
    <visual>
      <origin xyz="-0.0179363 -0.0289925 0.00658304" rpy="1.77215 0.785398 2.13803"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_21_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0179363 -0.0289925 0.00658304" rpy="1.77215 0.785398 2.13803"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part1_5 -->
    <visual>
      <origin xyz="0 0 0.0125365" rpy="-3.14159 -0 -2.39983"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
      <material name="part1_5_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0125365" rpy="-3.14159 -0 -2.39983"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_22 -->
    <visual>
      <origin xyz="0.0340764 -0.0010371 0.00658304" rpy="0.231397 0.785398 -2.05076"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_22_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0340764 -0.0010371 0.00658304" rpy="0.231397 0.785398 -2.05076"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_23 -->
    <visual>
      <origin xyz="-0.0309354 0.0132994 0.00559127" rpy="0.503798 0.785398 0.741765"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_23_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0309354 0.0132994 0.00559127" rpy="0.503798 0.785398 0.741765"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_24 -->
    <visual>
      <origin xyz="0.00677035 0.0335077 0.00679517" rpy="2.58168 0.785398 -0.654498"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_24_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00677035 0.0335077 0.00679517" rpy="2.58168 0.785398 -0.654498"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part2_3 -->
    <visual>
      <origin xyz="0 -0 -0.026" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part2.stl"/>
      </geometry>
      <material name="part2_3_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0 -0.026" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part2.stl"/>
      </geometry>
    </collision>
    <!-- Part part1_6 -->
    <visual>
      <origin xyz="-0 0 -0.029" rpy="-0 -0 0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
      <material name="part1_6_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.029" rpy="-0 -0 0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_25 -->
    <visual>
      <origin xyz="0.0254374 -0.0226983 0.00658304" rpy="-2.65684 0.785398 -2.74889"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_25_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0254374 -0.0226983 0.00658304" rpy="-2.65684 0.785398 -2.74889"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_26 -->
    <visual>
      <origin xyz="-0.032376 -0.0106802 0.00658304" rpy="1.07101 0.785398 1.4399"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_26_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.032376 -0.0106802 0.00658304" rpy="1.07101 0.785398 1.4399"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_27 -->
    <visual>
      <origin xyz="0.0267707 0.0211094 0.00658304" rpy="-1.07101 0.785398 -1.35263"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_27_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0267707 0.0211094 0.00658304" rpy="-1.07101 0.785398 -1.35263"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to wheel_2 -->
  <joint name="base_link_to_wheel_2" type="continuous">
    <origin xyz="0.074946 0.106022 0.0175757" rpy="1.5708 0 0"/>
    <parent link="base_link"/>
    <child link="wheel_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link wheel_3 -->
  <link name="wheel_3">
    <inertial>
      <origin xyz="7.56968e-06 -7.26734e-06 0.00823709" rpy="0 0 0"/>
      <mass value="0.614542"/>
      <inertia ixx="0.000237399" ixy="-2.3521e-08" ixz="1.32633e-07" iyy="0.00023691" iyz="1.47008e-07" izz="0.000273526"/>
    </inertial>
    <!-- Part part4_28 -->
    <visual>
      <origin xyz="0.0340764 0.0010371 -0.00658304" rpy="-2.9102 -0.785398 2.05076"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_28_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0340764 0.0010371 -0.00658304" rpy="-2.9102 -0.785398 2.05076"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_29 -->
    <visual>
      <origin xyz="0.0254374 0.0226983 -0.00658304" rpy="0.484751 -0.785398 2.74889"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_29_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0254374 0.0226983 -0.00658304" rpy="0.484751 -0.785398 2.74889"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_30 -->
    <visual>
      <origin xyz="0.0267707 -0.0211094 -0.00658304" rpy="2.07059 -0.785398 1.35263"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_30_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0267707 -0.0211094 -0.00658304" rpy="2.07059 -0.785398 1.35263"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_31 -->
    <visual>
      <origin xyz="-0.0179363 0.0289925 -0.00658304" rpy="-1.36944 -0.785398 -2.13803"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_31_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0179363 0.0289925 -0.00658304" rpy="-1.36944 -0.785398 -2.13803"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_32 -->
    <visual>
      <origin xyz="0.00509827 0.0338026 -0.00679517" rpy="-0.48876 -0.785398 -2.83616"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_32_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00509827 0.0338026 -0.00679517" rpy="-0.48876 -0.785398 -2.83616"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part1_7 -->
    <visual>
      <origin xyz="0 -0 -0.0125365" rpy="0 0 2.39983"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
      <material name="part1_7_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0 -0.0125365" rpy="0 0 2.39983"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_33 -->
    <visual>
      <origin xyz="-0.0309354 -0.0132994 -0.00559127" rpy="-2.63779 -0.785398 -0.741765"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_33_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0309354 -0.0132994 -0.00559127" rpy="-2.63779 -0.785398 -0.741765"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_34 -->
    <visual>
      <origin xyz="-0.01614 -0.0300296 -0.00658304" rpy="-1.09684 -0.785398 -0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_34_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.01614 -0.0300296 -0.00658304" rpy="-1.09684 -0.785398 -0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part2_4 -->
    <visual>
      <origin xyz="-0 0 0.026" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part2.stl"/>
      </geometry>
      <material name="part2_4_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 0.026" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part2.stl"/>
      </geometry>
    </collision>
    <!-- Part part1_8 -->
    <visual>
      <origin xyz="-0 -0 0.029" rpy="3.14159 0 -0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
      <material name="part1_8_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -0 0.029" rpy="3.14159 0 -0.0436332"/>
      <geometry>
        <mesh filename="package://assets/part1.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_35 -->
    <visual>
      <origin xyz="-0.032376 0.0106802 -0.00658304" rpy="-2.07059 -0.785398 -1.4399"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_35_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.032376 0.0106802 -0.00658304" rpy="-2.07059 -0.785398 -1.4399"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
    <!-- Part part4_36 -->
    <visual>
      <origin xyz="0.00677035 -0.0335077 -0.00679517" rpy="-0.559917 -0.785398 0.654498"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
      <material name="part4_36_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00677035 -0.0335077 -0.00679517" rpy="-0.559917 -0.785398 0.654498"/>
      <geometry>
        <mesh filename="package://assets/part4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to wheel_3 -->
  <joint name="base_link_to_wheel_3" type="continuous">
    <origin xyz="-0.0899458 -0.106021 0.0175757" rpy="1.5708 -1.5708 0"/>
    <parent link="base_link"/>
    <child link="wheel_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from base_footprint to base_link -->
  <joint name="base_footprint_to_base_link" type="fixed">
    <origin xyz="0 0 0.058" rpy="3.14159 -0 0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
</robot>
